{% extends "base.html" %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div
    class="max-w-md mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden md:max-w-md mt-10 transition-colors duration-200">
    <div class="px-6 py-4 bg-gray-50 dark:bg-gray-700 border-b border-gray-200 dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-800 dark:text-white text-center">Alterar Senha</h3>
    </div>
    <div class="p-6">
        <form action="{{ url_for('auth.change_password') }}" method="POST">
            <div class="mb-4">
                <label for="current_password"
                    class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">Senha Atual</label>
                <input type="password" name="current_password" id="current_password" required
                    class="shadow appearance-none border dark:border-gray-600 dark:bg-gray-700 dark:text-white rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-6">
                <label for="new_password" class="block text-gray-700 dark:text-gray-300 text-sm font-bold mb-2">Nova
                    Senha</label>
                <input type="password" name="new_password" id="new_password" required
                    class="shadow appearance-none border dark:border-gray-600 dark:bg-gray-700 dark:text-white rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="flex items-center justify-between">
                <button type="submit"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full rounded-full transition-colors">
                    Alterar Senha
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}