# Configurações do Flask
SECRET_KEY=sb_publishable__TK0l7NY4mexKXbEfDo7mg_6MXnnILp
FLASK_APP=run.py
FLASK_DEBUG=0

# Conexão com o Supabase (Database)
# Copie a "Connection String" (modo Transaction) no painel do Supabase
#DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT-ID].supabase.co:6543/postgres?pgbouncer=true
DATABASE_URL=postgresql://postgres.gkobgegkeremdombivgt:Kick10bs2030@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Outras configurações (opcional)
# LDAP_SERVER=seu_servidor_ldap
# LDAP_BASE_DN=dc=exemplo,dc=com
